// Navigation Styles here
nav{
    .flex(row, space-between, center);
    margin: 3%;
    .paddingLR(12%);
    .navList {
        width: 45%;
        .flex(row, space-between, center);
    }
    .navLink {
        margin: 0 2% 0 2%;
        text-decoration: none;
        line-height: 1.5;
        font-size: 1.6rem;
        color:black;
        &:visited {
            color:black;
        }
       
    }
    
}